.coins-index {
  display: flex;
  .table-wrap {
    flex: 1;
    td {
      padding: 5px 10px;
    }
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
}

.table-wrap {
  padding: 40px;
  margin: 0 20px;
  tr:nth-of-type(2n) {
    background-color: #f3f3f3;
  }
}


form {
  margin-top: 80px;
  margin-left: 60px;
  .input-wrap {
    div {
      display: inline-block;
      width: 60px;
    }
  }
}