<select class="source-filter">
  <option value="all">All Sources</option>
  <option value="reddit_bitcoin">/r/bitcoin</option>
  <option value="reddit_cryptocurrency">/r/cryptocurrency</option>
</select>