<select class="source-filter">
  <option value="all">All Sources</option>
  <% Coin.sources.keys.each do |source| %>
    <option value="<%= "#{source}"%>"><%= "#{source}"%></option>
  <% end %>
</select>