<% if @coin %>
  <div>
    <br><br><%= "#{@coin.sym}: #{@coin.name}" %><br><br>
    <div class="table-wrap mentions" style="display: inline-block;">
      1 Day<br><br>
      <table>
        <tr>
          <th>id</th>
          <th>created_at</th>
          <th>comment</th>
        </tr>
        <% @mentions.each do |mention| %>
          <tr>
            <td><%= "#{mention.id}" %></td>
            <td><%= "#{mention.created_at}" %></td>
            <td ><div class="comment-wrap"><%= "#{mention.comment}" %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  Coin not found wat the heck
<% end %>
