$theme-white: #fff;
$theme-black: #000;
$theme-green: #2ecc71;
$theme-red: #e74c3c;
$theme-maroon: #ab3653;
$theme-orange: #E67919;
$theme-blue: #337ab7;
$theme-lt-blue: #E0F3FF;

$theme-dk-gray-1: #333;
$theme-dk-gray-2: #4d4d4d;
$theme-dk-gray-3: #5b5b5b;
$theme-dk-gray-4: #666;
$theme-dk-gray-5: #6d6e70;

$theme-md-gray-1: #757575;
$theme-md-gray-2: #858585;
$theme-md-gray-3: #939292;
$theme-md-gray-4: #999;
$theme-md-gray-5: #b3b3b3;
$theme-md-gray-6: #cacaca;

$theme-lt-gray-1: #cecece;
$theme-lt-gray-2: #dedede;
$theme-lt-gray-3: #e6e6e6;
$theme-lt-gray-4: #f2f2f5;
$theme-lt-gray-5: #f7f7f7;
$theme-lt-gray-6: #fafafa;
$theme-lt-gray-7: #fdfdff;

$theme-md-yellow: #ffda00;
$theme-dk-yellow: #fcc133;
$theme-lt-highlight: #FFFEF7;
$theme-dk-highlight: #FAF0AE;

.score-9 {
  background-color: #00BF5A;
}
.score-8 {
  background-color: #00C323;
}
.score-7 {
  background-color: #16C700;
}
.score-6 {
  background-color: #51CB00;
}
.score-5 {
  background-color: #90CF00;
}
.score-4 {
  background-color: #D0D400;
}
.score-3 {
  background-color: #D89C00;
}
.score-2 {
  background-color: #DC5F00;
}
.score-1 {
  background-color: #E02000;
}
.score-0 {
  background-color: #E74C3C;
}
