@import 'bourbon';
@import 'font-awesome';

@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'materialize/components/normalize';
@import 'materialize/components/global';
@import 'materialize/components/grid';
@import 'materialize/components/typography';
@import 'materialize/components/dropdown';
@import 'materialize/components/modal';
@import 'materialize/components/toast';
@import 'materialize/components/tooltip';

@import 'components/*';
@import 'coins/*';
@import 'mentions/*';

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

.hidden {
  display: none !important;
}


a, a:visited {
    color: inherit;
}

a,
button {
  outline: none;
}

.section {
  padding: 60px;
}

.header-primary {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}