<div class="coins-index section">
  <%= render partial: 'shared/source_filter' %>

  <div class="coins-table-wrap">
    <%= render partial: 'coins/coin_tables' %>
  </div>

  <div class="fx-row fx-vc add-coin-link">
    <i class="fa fa-plus-circle"></i>
    <div>Add Coin</div>
  </div>

  <form class="add-coin-form hidden fx-col">
    <div class="input-wrap fx-row">
      <div>Sym</div>
      <input id="sym" type="text" class="fx-1">
    </div>
    <div class="input-wrap fx-row">
      <div>Name</div>
      <input id="name" type="text" class="fx-1">
    </div>
    <button class="submit-button" type="submit">Save</button>
  </form>

  <div>Donation (ETH): 0x1736cd6212997118e810738fe1fd31f86afc5135</div>
</div>